<module>
	<rawname>disa</rawname>
	<name>DISA</name>
	<version>2.0</version>
	<type>setup</type>
	<category>Remote Access</category>
	<menuitems>
		<disa>DISA</disa>
	</menuitems>
	<location>release/disa-2.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-DISA</info>
	<md5sum>e2c240ed8177e4e78e947e0781eead65</md5sum>
</module>
