<module>
	<rawname>disa</rawname>
	<name>DISA</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Remote Access</category>
	<menuitems>
		<disa>DISA</disa>
	</menuitems>
	<location>release/disa-1.0.tgz</location>
	<info>http://freepbx.org/wiki/DISA</info>
	<md5sum>6f5f7ef9d182a74230761eb16d09ca4b</md5sum>
</module>
