<module>
	<rawname>disa</rawname>
	<repo>extended</repo>
	<name>DISA</name>
	<version>12.0.2</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<category>Applications</category>
	<menuitems>
		<disa>DISA</disa>
	</menuitems>
	<popovers>
		<disa>
			<display>disa</display>
		</disa>
 	</popovers>
	<description>DISA Allows you 'Direct Inward System Access'. This gives you the ability to have an option on an IVR that gives you a dial tone, and you're able to dial out from the FreePBX machine as if you were connected to a standard extension. It appears as a Destination.</description>
	<changelog>
		*12.0.2* Typo in depends
		*12.0.1* Call Recording capabilities.
		*2.11.0.6* #1953
		*2.11.0.5* #7388 - Fix DB Syntax error
		*2.11.0.4* #7263
		*2.11.0.3* Add license file
		*2.11.0.1* DB Abstraction Changes
		*2.11.0.0* #6051
		*2.10.0.2* #5574
		*2.10.0.1* #5507, misc
		*2.10.0.0* new version changes
		*2.9.0.4* #4394
		*2.9.0.3* #4859
		*2.9.0.2* #4783
		*2.9.0.1* set repo
		*2.9.0.0* 2.9 Update
	</changelog>
	<depends>
		<version>callrecording ge 12.0.1</version>
	</depends>
	<supported>
		<version>12.0</version>
	</supported>
	<location></location>
	<md5sum></md5sum>
</module>
